


 @font-face{
    font-family: "poppins";
     src: url(../fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: "poppins";
     src: url(../fonts/Poppins-Regular.ttf);
}
body{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




.header{
  background-color: black;
  color: white;
   justify-content: center;
  font-weight: normal;
  font-size: 14px;
  max-height: 30px;  
  display: flex;
  flex-direction: row;

}
.header a {
  color:white;
  text-align: center;
  margin-left: 10px;
  
}


.top-bar {
  background: #000;
  font-size: 14px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 6px 30px 6px 10px;
  border: 1px solid #ddd;
}

.search-box i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}



.wishlist {
    width: 90%;
    margin: 50px auto;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    
}
.wishlist-header p{
font-weight: normal;
    font-size: 20px;
}
.wishlist-header button {
    border: 1px solid #000;
    background: transparent;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.card-img-container {
  height: 200px; 
  overflow: hidden;
  background-color: #F5F5F5;
}

.card-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; 
}


.card-body {
  flex-grow: 1;
 
}

.card-title, .card-text {
  margin-bottom: 0.5rem;
}


.btn.btn-dark {
  margin-top: auto;
}



.card-img-container {
  height: 200px; 
  overflow: hidden;
}

.card-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; 
}


.card-body {
  flex-grow: 1;
}


.card-title, .card-text {
  margin-bottom: 0.5rem;
}


.btn.btn-dark {
  margin-top: auto;
}

.footer {
  background: #000;
  margin-top: 60px;
}


.footer a {
  text-decoration: none;
  color:white ;
}

.footer a :hover{
  transition: ease-in;
  
}


.footer input {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}


i {
  cursor: pointer;
}

.app-download {
  margin-top: 10px;
}

.qr-img {
  width: 90px;
  height: 90px;
  background: #fff;
  padding: 4px;
}

.store-btn {
  width: 110px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .app-download {
    justify-content: center;
  }
}


@media (max-width: 768px) {
  .order-box {
    margin-top: 30px;
  }
}
